

.btn{
    background: #4db5f9;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 8px;
}
.btn:hover{
    cursor: pointer;
    background: #2baafe
}
.Nad{
    margin: 10px auto 20px;
    width: 200px;
    display: block;
}
.Blo{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    color: #8e8e8e;;
}
.Fol{
    color: #385185;
    text-align: center;
}
.Dol{
    text-align: center;
    font-size: smaller;
    color: #00376b;;
}
